* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: linear-gradient(90deg, #061b5e 50%, #4514a1 75%);
}

h1 {
  margin-top: 0.5rem;
  color: white;
  text-align: center;
  font-size: 2rem;
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas-box {
  display: flex;

  width: 55%;
}

#regions-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7vh;
  /* margin: 0.5rem; */
  /* border: 1px solid gray; */
}

#countries-box {
  /* margin: 0.3rem; */
  height: 10rem;
  width: 90%;
  border: 2px solid black;
  align-items: center;
  /* display: flex; */
}

button {
  margin: 0 1rem;
  padding: 0.1rem;
  font-size: 1rem;
}

.glow-on-hover {
  width: 7rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.small-btn {
  display: inline-block;
  text-decoration: none;
  color: #333;
  /* border: 2px solid #333; */
  /* letter-spacing: 2px; */
  padding: 0.1rem;
  margin: 0.2rem 0.3rem;
  text-align: center;
  position: relative;
}

.small-btn:hover {
  color: #fff;
  background: linear-gradient(45deg, #002bff, #7a00ff, #ff00c8);
}

#stat-type-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin: 0.3rem;
}

.selected-region {
  color: orangered;
}
.selected-stat {
  color: darkorange;
}

#cont-stats {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden;
  background-color: rgb(27, 26, 26);
  z-index: 5;
  opacity: 80%;
  width: 100%;
  height: 50%;
  top: 3rem;
}
